@font-face {
  font-family: Corinthia;
  src: url(../assets/fonts/Corinthia-Regular.ttf);
}

@font-face {
  font-family: InstrumentSans;
  src: url(../assets/fonts/InstrumentSans-VariableFont_wdth\wght.ttf);
}

:root {
  --background-color: linear-gradient(
    180deg,
    rgba(86, 102, 107, 0.84) 31%,
    rgba(84, 133, 149, 0.84) 100%
  );
  --todo-cards: linear-gradient(
    180deg,
    rgba(142, 62, 110, 1) 26%,
    rgba(187, 99, 152, 1) 80%
  );
  --most-buttons: linear-gradient(
    90deg,
    rgba(115, 38, 99, 1) 0%,
    rgba(142, 62, 110, 1) 55%,
    rgba(187, 99, 152, 1) 90%
  );
  --shadows: 8px 8px 10px rgba(12, 12, 13, 0.77);
  --smaller-shadows: 5px 5px 10px rgba(12, 12, 13, 0.55);
  --menu-background: #dbcdc6;
}

* {
  box-sizing: border-box;
  font-family: InstrumentSans, sans-serif;
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background-color);
}

/* HEADER */

header {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.logo-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-brand img {
  width: 136px;
  height: 136px;
}

h2 {
  font-family: Corinthia;
  font-size: 5rem;
  font-weight: normal;
  padding-top: 8px;
  transform: translateY(-16px);
  margin: 0px;
}

header nav {
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-top: 8px;
}

header nav i {
  color: black;
  padding: 7px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

header nav ul {
  display: none;
}

header nav i,
.burger-menu {
  margin-right: 16px;
}

.burger-menu {
  width: 28px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger-menu span {
  width: 28px;
  height: 6px;
  border-radius: 3px;
  background-color: #d9d9d9;
}

/* HEADER QUERY */

@media screen and (min-width: 992px) {
  header {
    gap: 32px;
  }
  .logo-brand {
    flex-direction: row;
    align-items: center;
  }
  .logo-brand img {
    width: 118px;
    height: 118px;
  }

  h2 {
    font-size: 5rem;
    padding-top: 32px;
  }

  header nav i {
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 32px;
  }

  .burger-menu {
    display: none;
  }

  header nav ul {
    display: flex;
    margin-right: 32px;
    gap: 40px;
    padding: 0;
  }

  header nav li {
    font-size: 1.2rem;
  }
}

/* MAIN */
main {
  min-height: calc(100vh - 318px - 56px);
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  margin: 0 auto 48px;
}
h3 {
  font-weight: normal;
  text-align: center;
  font-size: 1.4rem;
  margin: 0 0 32px;
}

main img {
  width: 100%;
  max-width: 400px;
}

article {
  width: 83%;
  font-size: 0.9rem;
  margin: 24px auto 32px;

  & :last-child {
    margin-bottom: 0;
  }
}

article p {
  line-height: 21px;
}

main section a {
  padding: 10px 30px 14px;
  background-image: var(--most-buttons);
  background-size: 180%;
  background-position: right;
  border-radius: 23px;
  box-shadow: var(--shadows);
  transition: background-position 0.3s ease-in-out;

  &:hover {
    background-position: left;
  }
}

.blue-arrow {
  height: 20px;
  width: 24px;
  transform: translateY(20%);
}
/* MAIN QUERY */

@media screen and (min-width: 992px) {
  main {
    min-height: calc(100vh - 222px - 72px);
    position: relative;
  }

  section {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1300px;
    height: 54vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 60% 25%;
    grid-template-areas:
      "img h3"
      "img article"
      "button button";
    gap: 0 15%;
  }

  main h3 {
    grid-area: h3;
    text-align: left;
    font-size: 1.8rem;
    width: unset;
    margin: unset;
  }

  main img {
    grid-area: img;
    object-fit: contain;
    height: 100%;
    max-width: unset;
  }

  main article {
    grid-area: article;
    width: 100%;
    margin: 0;
    font-size: 18px;

    & :first-child {
      margin-top: 0;
    }
  }

  main section a {
    grid-area: button;
    margin-top: 40px;
    width: 250px;
    padding: 14px 30px 19px;
    border-radius: 29px;
    font-size: 1.3rem;
    text-align: center;
    justify-self: center;
  }
}

/* FOOTER */

footer {
  height: 56px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.4);
}

footer p {
  color: black;
}

/* FOOTER QUERY */

@media screen and (min-width: 992px) {
  footer {
    height: 72px;
  }
}

/* MENU */

body {
  position: relative;
  overflow: hidden;
}

.menu-container {
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--menu-background);
  width: 92%;
  height: 350px;
  border-radius: 12px;
  transition: 0.4s ease-in-out;
  opacity: 0;
  transform: translateX(100vw);

  & * {
    color: rgba(0, 0, 0, 0.781);
  }
  /* box-shadow: var(--shadows); */
  /* opacity: 0; */
}

.menu-nav ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.95rem;
}

.carroussel {
  height: 180px;
}

.todo-list {
  background-image: var(--todo-cards);
  height: 160px;
  width: 115px;
  border-radius: 12px;
  font-family: Corinthia;
}

.buttons {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  padding-bottom: 8px;

  & a {
    text-decoration: underline;
  }
}

.buttons button {
  background-image: var(--most-buttons);
  background-size: 180%;
  background-position: right;
  transition: 0.3s ease-in-out;
  border: none;
  padding: 8px 16px;
  box-shadow: var(--smaller-shadows);
  border-radius: 16px;
  color: white;

  & :focus {
    background-position: left;
  }
}

@media screen and (min-width: 992px) {
  .menu-container {
    width: 600px;
    height: 400px;
    left: unset;
    right: 32px;
    top: -150px;
    transform: translateX(700px);
  }
  .carroussel {
    height: 220px;
  }
}
